* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .container {
    width: 375px;
    margin-top: 4px;
    margin-left: 4px;
  }
  .top-section {
    height: 44px;
    width: 375px;
    justify-content: space-between;
  }
  .user-name {
    position: absolute;
    width: 343px;
    height: 42px;
    left: 17px;
    top: 44px;
    text-align: center;
    line-height: 42px;
  }
  .profile {
    width: 77px;
    height: 77px;
    position: absolute;
    left: 17px;
    top: 86px;
    border-radius: 50%;
  }
  .edit_profile {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 143px;
    left: 74px;
  }
  .instagram-profile {
    position: absolute;
    height: 40px;
    width: 259px;
    left: 115px;
    top: 104px;
    border-radius: 0px;
  }
  .description {
    height: 100px;
    width: 343px;
    position: absolute;
    left: 17px;
    top: 188px;
    border-radius: 0px;
    color: #1b68a0;
  }
  .icons {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 20px;
    left: 0px;
  }
  .icon-2 {
    left: 30px;
  }
  .icon-3 {
    margin-left: 60px;
  }
  .edit-profile-button {
    height: 30px;
    width: 342px;
    position: absolute;
    left: 17px;
    top: 288px;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
  }
  .Gallery-viewer {
    height: 40px;
    width: 375px;
    position: absolute;
    top: 337px;
    display: flex;
    justify-content: space-around;
  }
  .images {
    height: 375px;
    width: 375px;
    top: 395px;
    position: absolute;
    display: inline-block;
  }
  .pictures {
    width: 120px;
    height: 120px;
    border-radius: 3px;
  }
  .tab-bar-box {
    height: 86px;
    width: 375px;
    top: 726px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  .icon-tab {
    height: 22px;
    width: 22px;
    left: 27px;
    top: 18px;
  }
  .heart-icon {
    height: 41px;
    width: 76px;
    left: 228px;
    top: 740px;
    position: absolute;
  }
  .red-dot {
    height: 6px;
    width: 6px;
    left: 260px;
    top: 769px;
    position: relative;
  }
  